<div style="width: 100%; box-shadow: 0px 0px 16px 0px rgba(181,181,181,1); padding: 15px;">
  <p><%= @user.user_name %>,</p>
  <p>
    You have been assigned to todo.<br>
    Follow to this  <%= link_to 'link', @url %> to see the details.<br>
  </p>
  <hr>
  <div style="width: 100%; text-align: center">
    Todo project
  </div>
</div>

